.container{
  display: grid;
  grid-template-rows: repeat(4, auto) 1fr auto ;
  grid-gap: 2px;

}


header{
  grid-column: 1/13;
  grid-row:1;
}

main{
  grid-column: 10/13;
  grid-row: 2;
}


nav{
  grid-column: 1/13;
  grid-row: 3;
}
section{
  grid-column: 1/13;
  grid-row: 4;
}
footer{
  grid-column: 1/8;
  grid-row: 5/7;

}

content {
  grid-column: 8/13;
  grid-row: 5;
}

#content-bottom {
  grid-column: 8/13;
  grid-row: 6;
}

article {
  grid-column: 1/13;
  grid-row: 7;
}

@media screen and (max-width: 500px){

  header{
    grid-column: 1/13;
    grid-row: 1/60;
  }

main {
  grid-column: 10/13;
  grid-row: 8/50;
}

  nav{
    grid-column: 1/13;
    grid-row: 47/70;
    text-align: center;
  }


  section{
    grid-column: 1/13;
    grid-row: 70/300;
}

  footer{
    grid-column: 1/13;
    grid-row: 300/380;
}

  content {
   grid-column: 1/13;
   grid-row: 380/500;
}

article{
  grid-column: 1/13;
  grid-row: 498/520;
}

}
