.container {
  display: grid;
  grid-template-columns: repeat(13, auto);
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  /*repeat(4, auto) 1fr auto;*/
  grid-gap: 2px;
}

header {
  grid-column: 1/13;
  grid-row: 1/2;
}

nav {
  grid-column: 1/13;
  grid-row: 2/3;
}

section {
  grid-column: 1/13;
  grid-row: 3/4;
}

footer {
  grid-column: 1/8;
  grid-row: 4/6;
}

content {
  grid-column: 8/13;
  grid-row: 4/6;
}

#content-bottom {
  grid-column: 8/13;
  grid-row: 5/6;
}

main {
  grid-column: 1/13;
  grid-row: 6/7;
}

article {
  grid-column: 1/13;
  grid-row: 7/8;
}

@media screen and (max-width: 760px) {
  header {
    grid-column: 1/13;
    grid-row: 1;
  }

  nav {
    grid-column: 1/13;
    grid-row: 2;
  }

  section {
    grid-column: 1/13;
    grid-row: 3;
  }

  footer {
    grid-column: 1/13;
    grid-row: 4;
  }

  content {
    grid-column: 1/13;
    grid-row: 5;
  }

  main {
    grid-column: 1/13;
    grid-row: 6;
  }

  article {
    grid-column: 1/13;
    grid-row: 7;
  }
}