.container{
  display: grid;
  grid-template-rows:repeat(4,auto) 1fr auto ;
  grid-gap: 2px;

}


header{
  grid-column: 1/13;
  grid-row:1;
}

nav{
  grid-column: 1/13;
  grid-row: 2;
}
section{
  grid-column: 1/13;
  grid-row: 3;
}
footer{
  grid-column: 1/8;
  grid-row: 4/6;
}

content {
  grid-column: 8/13;
  grid-row: 4/6;
}

#content-bottom {
  grid-column: 8/13;
  grid-row: 5;
}

main {grid-column: 1/13;
grid-row: 7}

article {
  grid-column: 1/13;
  grid-row: 8;
}


@media screen and (max-width: 500px){

  header{
    grid-column: 1/13;
    grid-row: 1;
  }

  nav{
    grid-column: 1/13;
    grid-row: 2;
  }


  section{
    grid-column: 1/13;
    grid-row: 3;
}

  footer{
    grid-column: 1/13;
    grid-row: 4;
}

  content {
   grid-column: 1/13;
   grid-row: 5;
}

main {
  grid-column: 1/13;
  grid-row: 6;
}

article{
  grid-column: 1/13;
  grid-row: 7;
}

}
